<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyceum of Alabang SHS</title>
    <link rel="stylesheet" href="~/css/site1.css">
    
</head>
<body>
    <main>
        <section class="tracks">
            <div class="container">
                <div class="track">
                    <h3><b>Technical Vocational Livelihood (TVL) Track</b></h3>
                    <p>TVL Strand is designed to develop students' skills that is useful for livelihood and technical projects.</p>
                    <ul>
                        <li>Front Office Servicing NC II</li>
                        <li>Food and Beverage Services NC II</li>
                        <li>Bread and Pastry Production NC II</li>
                        <li>Tour Guiding Services NC II</li>
                        <li>Cookery NC II</li>
                        <li>Travel Services NC II</li>
                        <li>Bookkeeping NC II</li>
                    </ul>

                </div>
                <div class="track">
                    <h3><b>Information and Communication Technology (ICT)</b></h3>
                    <p>The TVL – ICT strand helps students learn how to write computer programs, illustrate, and design websites, how to animate, and all about java programming.</p>
                    <ul>
                        <li>Computer System Servicing NC II</li>
                        <li>Computer Programming NC IV (Java, .Net, C++, C#)</li>
                        <li>Computer Center Services NC II</li>
                        <li>Technical Drafting NC II</li>
                    </ul>

                </div>
                <div class="track">
                    <h3><b>Arts</b></h3>
                    <p>The Arts intends to provide students with knowledge of the different arts and design forms, materials, media, and production in the creative industries.</p>
                    <ul>
                        <li>Illustration NC II</li>
                        <li>2D Animation NC II</li>
                        <li>Visual Graphic NC II</li>
                        <li>3D Animation NC II</li>
                        <li>Game Programming NC II</li>
                    </ul>

                </div>
                <div class="track">
                    <h3><b>Industrial Arts (IA)</b></h3>
                    <p>Learners' skills and expertise in carpentry, driving, automotive maintenance, electronics repair, electrical installation, welding, plumbing, and tile setting will all be taught in the IA strand.</p>
                    <ul>
                        <li>Automotive Servicing NC I & NC II</li>
                        <li>Electronic Products Assembly & Servicing NC II</li>
                        <li>Shielded Metal Arc Welding NC 1 & NC II</li>
                        <li>Refrigeration & Air-conditioning NC II</li>
                        <li>Electrical Installation & Maintenance NC II</li>
                    </ul>

                </div>
            </div>
        </section>




        <section class="column">
            <div class="row">

                <div class="containers">
                    <div class="image">
                        <img src="~/images/stem-removebg-preview.png" alt="Image Placeholder">
                    </div>
                    <h3>STEM (Science, <br />Technology, Engineering, and Mathematics)</h3>
                    <p>STEM is an approach to learning and<br /> development that integrates the areas of <br />science, technology, engineering and mathematics.</p>
                    <ul>
                        <li>Prepare students for science, technology, engineering, and mathematics (STEM) related fields.</li>
                        <li>Develop critical thinking, problem-solving, and collaborative skills.</li>
                        <li>Equip students with the necessary skills and knowledge to pursue STEM careers.</li>
                    </ul>

                </div>


                <div class="containers">
                    <div class="image">
                        <img src="~/images/abm.png" alt="Image Placeholder">
                    </div>
                    <h3>ABM (Accountancy, Business, and Management)</h3>
                    <p>The ABM strand paves the way for taking up a Business Administration degree</p>
                    <ul>
                        <li>Develop students' entrepreneurial skills and knowledge in business management.</li>
                        <li>Equip students with the necessary skills to pursue business-related careers.</li>
                        <li>Provide a strong foundation in accounting principles.</li>
                    </ul>

                </div>


                <div class="containers">
                    <div class="image">
                          <img src="~/images/humss-removebg-preview.png" alt="Image Placeholder">
                    </div>
                      <h3>HUMSS (Humanities and Social Sciences)</h3>
                      <p>The Humanities and Social Sciences (HUMSS) strand covers topics in the liberal arts, <br />training students to think, write,<br /> and speak about various humanistic and societal concerns.</p>
                      <ul>
                         <li>Develop critical thinking, communication, and research skills.</li>
                         <li>Provide students with a broad understanding of the humanities and social sciences.</li>
                          <li>Prepare students for careers in education, law, government, and other fields.</li>
                       </ul>
                    </div>
                </div>

            <div class="row">
                <div class="containers">

                    <div class="image">
                        <img src="/images/Tecj-voh.jpeg" alt="placeholder image">
                    </div>
                    <h2>TECH-VOC</h2>
                    <p>Some students are itching to jump into a job as soon as they graduate senior high. The TVL (Technical-Vocational Livelihood) track is the perfect choice for students that want to explore employment opportunities locally and overseas as soon as possible. After finishing any strand under the TVL track, students can apply for   <span class="read-more">national certifications, and automatically get a TESDA National Certificate – a necessary document for making the most of work opportunities as soon as possible.</span> <span class="read-btn">Read more</span></p>
                </div>
          


                <div class="containerss">
                    <div class="image">
                         <img src="/images/Gas.jpg" alt="placeholder image">
                    </div>
                    <h2>GAS</h2>
                    <p>Not everyone knows what they want when they first set into senior high. And that’s nothing to be ashamed of! The truth of the matter is, it is always better to make the safe choice over the wrong choice. The GAS (General Academic Strand) offers courses that can hone key skills that are applicable to any field that you pursue. <span class="read-more">Immerse yourself in diverse learning experiences that can shed light on the career path or college course you want in the future!</span> <span class="read-btn">Read more</span></p>
                </div>
            </div>
       
        </section>
        


        <footer class="footer">
            <div>
                <h3>LOA</h3>
                <ul>
                    <li>About Us</li>
                    <li>Why Choose Us</li>
                    <li>Pricing</li>
                    <li>Testimonial</li>
                </ul>
            </div>
            <div>
                <h3>Resources</h3>
                <ul>
                    <li>Privacy Policy</li>
                    <li>Terms and Condition</li>
                    <li>Blog</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div>
                <h3>Product</h3>
                <ul>
                    <li>Academic Track</li>
                    <li>TVL Track</li>
                    <li>Suggestion Track</li>
                </ul>
            </div>
            <div>
                <h3>LOA</h3>
                <p>Lyceum of Alabang Senior High School</p>
                <div class="subscribe">
                    <input type="email" placeholder="Enter your Email">
                    <button>Subscribe</button>
                </div>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        </footer>



    </main>


</body>



